.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles  */
.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

.display-flex {
  display: flex;
}
.text-gray {
  color: #424242;
}
.text-primary {
  color: #ff900e;
}
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  border: none;
  padding: 20px 25px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.25rem;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
/* header styles */

/* navbar styles  */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.brand {
  font-weight: 700;
  font-size: 2.8rem;
}

/* bannner styles  */
.banner-content {
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-img {
  width: 100%;
}

/* team section style  */
.teams {
  align-items: center;
  margin-top: 85px;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features {
  margin-left: 130px;
  max-width: 530px;
}

#quick-list {
  font-weight: 500;
}
#features {
  color: #ff900e;
}

/* fact related styles  */
.fact-card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sponsor-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img {
  filter: grayscale(100%);
}

/* reponsive media queries */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }

  .team-img-container,
  .facts-container,
  .sponsor-companies {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features {
    margin-left: 20px;
  }
}
.fact-number {
  font-size: 2.8rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact-name {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
.facts-container,
.sponsor-companies {
  justify-items: center;
  gap: 24px;
}
/* sponsor related style */

.sponsor-info {
  text-align: center;
  max-width: 540px;
  margin: 50px auto;
}

/* medium size device  */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-features {
    margin-left: 50px auto;
  }
  .sponsor-companies,
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }
}
